<form onsubmit={{pipe (prevent-default) (serialize-form) (perform createIssue)}}>
  <div>
    <label for="title">Title</label>
    <input id="title" name="title" type="text">
  </div>

<div>
  <label for="body">Body</label>
  <textarea id="body" name="body"></textarea>
</div>

  <div>
    <label for="assignees">Assignees</label>
    <select id="assignees" name="assignees" multiple>
      <option>Alice</option>
      <option>Bob</option>
    </select>
  </div>

  <div>
    <label for="labels">Labels</label>
    <select id="labels" name="labels" multiple>
      <option>Feature</option>
      <option>Bug</option>
    </select>
  </div>

  <div>
    <label for="project">Project</label>
    <select id="project" name="project">
      <option value="">No project</option>
      <option>Some Project</option>
      <option>Some Other Project</option>
    </select>
  </div>

  <div>
    <label for="milestone">Milestone</label>
    <select id="milestone" name="milestone">
      <option value="">No milestone</option>
      <option>v1</option>
      <option>v2</option>
    </select>
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
